llama-index
pinecone-client
llama-index-embeddings-huggingface
llama-index-vector-stores-pinecone
llama-index-llms-huggingface
flask
flask_cors
python-dotenv
flask-bcrypt 
flask-jwt-extended 
flask-sqlalchemy